*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
html{
    background: url("../img/fondo.jpg");
    background-attachment: fixed;
}
#global{
	width: 95%;
	margin: 0px auto;
	margin-top: 5px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.7);
	}
/* .clearfix{.
	float: none;
	clear: both;
} */
#redes{
	position: fixed;
	top: 30%;
	background: rgba(51,51,51,0.5);
	margin-bottom: 100px;
	width: 0%;
	height: 20%;
	padding: 10px;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 5px;
}
#link,
#git,
#web{
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}
#link{
	background: #2538a3;
}
#git{
	background: #000000;
}
#web{
	background: #a11b1b;
}
#header{
	background: #922e2e;
}
#logo{
	font-family: Verdana,Arial;
	font-size: 24px;
	letter-spacing: 4px;
	background: rgba(0, 0, 0, .85);
	color: rgba(97, 97, 97, 0.85);
	text-align: center;
	width: 40.9%;
	height: 65px;
	float: left;
	margin-bottom: 20px;
	line-height: 75px;
	text-transform: uppercase;
	border-right: 1px solid rgb(5, 5, 5);
}
#menu{
	font-family: Helvetica,Arial;
    color: ivory;
	background: rgba(0, 0, 0, .85);
	width: 58.7%;
	height: 65px;
    float: right;
    margin-bottom: 20px;
	text-transform: uppercase;
    font-size: 20px;
	border-right: 3px solid rgb(5, 5, 5) ;
}
#menu ul{
	line-height: 76px;
	list-style: none;
}
#menu li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;
	
}
#menu a{
	display: block;
	color: rgba(97, 97, 97, 0.85);
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

#slider{
    /* background:#363636; */
}
#banner{
	/* background: rgb(255, 0, 0); */
	 background-attachment:fixed;
	display: flex;
  	justify-content: center;
  	align-items: center;
	width: 100%;
} 
#general1,
#general2{
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	display: flex!important;
	background: slategray;
}
#Cuadrado1{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	background: royalblue;
	width: 50%;
	height: 50%;
}
#TextCudrado1{
	background: white;
}
#TextCudrado1 h2{
	background: tomato;
}
#TextCudrado1 p{
	background: rgb(161, 38, 16);
}
#Cuadrado2{
	margin-top: 20px;
	background: rgb(83, 83, 83);
	width: 50%;
	height: 50%;
	margin-left: 40px;
	margin-right: 40px;
}
#TextCudrado2{
	background: rgb(228, 228, 228);
}
#TextCudrado2 h2{
	background: rgb(49, 53, 255);
}

#Cuadrado3{
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	background: royalblue;
	width: 50%;
	height: 50%;
}


#Cuadrado4{
	margin-top: 20px;
	background: rgb(83, 83, 83);
	width: 50%;
	height: 50%;
	margin-left: 40px;
	margin-right: 40px;
}


/* https://getbootstrap.com/docs/4.6/examples/product/ */
